*.la
*.lo
*.log
*.o
*.scan
*.status
*.conf
Makefile.in
aclocal.m4
autom4te.cache
build
compile
man/*.html
man/Makefile.in
src/*.o
src/.deps
src/proxy/Makefile.in
src/proxy/dnscrypt-proxy
src/proxy/registry.txt
test-driver
testing
