src/*.o
autom4te.cache
config.log
config.status
#doc/
#lib/
md5/
po/
src/.deps/
src/Makefile
src/build_info.c
src/config.h
src/stamp-h1
src/version.c
src/wget
#tests/
#util/
msdos/
windows/
#m4/*
INSTALL
Makefile
Makefile.in
aclocal.m4
configure
src/config.h.in
src/css.c
src/css_.c
